trunk/NXEIP/NXEIP/App_WebReferences/localhost/sso/TokenAuth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Auth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sysId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthResult" type="tns:UserData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="isAuth" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eMail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserData" nillable="true" type="tns:UserData" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthSoapIn">
    <wsdl:part name="parameters" element="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="AuthSoapOut">
    <wsdl:part name="parameters" element="tns:AuthResponse" />
  </wsdl:message>
  <wsdl:message name="AuthHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sysId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthHttpGetOut">
    <wsdl:part name="Body" element="tns:UserData" />
  </wsdl:message>
  <wsdl:message name="AuthHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sysId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthHttpPostOut">
    <wsdl:part name="Body" element="tns:UserData" />
  </wsdl:message>
  <wsdl:portType name="TokenAuthSoap">
    <wsdl:operation name="Auth">
      <wsdl:input message="tns:AuthSoapIn" />
      <wsdl:output message="tns:AuthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TokenAuthHttpGet">
    <wsdl:operation name="Auth">
      <wsdl:input message="tns:AuthHttpGetIn" />
      <wsdl:output message="tns:AuthHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TokenAuthHttpPost">
    <wsdl:operation name="Auth">
      <wsdl:input message="tns:AuthHttpPostIn" />
      <wsdl:output message="tns:AuthHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TokenAuthSoap" type="tns:TokenAuthSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Auth">
      <soap:operation soapAction="http://tempuri.org/Auth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TokenAuthSoap12" type="tns:TokenAuthSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Auth">
      <soap12:operation soapAction="http://tempuri.org/Auth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TokenAuthHttpGet" type="tns:TokenAuthHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Auth">
      <http:operation location="/Auth" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TokenAuthHttpPost" type="tns:TokenAuthHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Auth">
      <http:operation location="/Auth" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenAuth">
    <wsdl:port name="TokenAuthSoap" binding="tns:TokenAuthSoap">
      <soap:address location="http://localhost:5453/NXEIP/SSO/TokenAuth.asmx" />
    </wsdl:port>
    <wsdl:port name="TokenAuthSoap12" binding="tns:TokenAuthSoap12">
      <soap12:address location="http://localhost:5453/NXEIP/SSO/TokenAuth.asmx" />
    </wsdl:port>
    <wsdl:port name="TokenAuthHttpGet" binding="tns:TokenAuthHttpGet">
      <http:address location="http://localhost:5453/NXEIP/SSO/TokenAuth.asmx" />
    </wsdl:port>
    <wsdl:port name="TokenAuthHttpPost" binding="tns:TokenAuthHttpPost">
      <http:address location="http://localhost:5453/NXEIP/SSO/TokenAuth.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>