NXEIP/NXEIP/App_WebReferences/tw/gov/tainan/login/WCF_Accounts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://login.tainan.gov.tw/ws/WCF_Accounts.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://login.tainan.gov.tw/ws/WCF_Accounts.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="SSO_Verify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Token" type="q1:guid" />
        <xs:element minOccurs="0" name="APCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SSO_VerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SSO_VerifyResult" type="q2:TOKEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>