trunk/NXEIP/NXEIP/App_WebReferences/Wealthy3_WebReference/CardLog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getCardLogCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="val" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCardLogCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getCardLogCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCardLogData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="val" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="row" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCardLogDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCardLogDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getCardLogCountSoapIn">
    <wsdl:part name="parameters" element="tns:getCardLogCount" />
  </wsdl:message>
  <wsdl:message name="getCardLogCountSoapOut">
    <wsdl:part name="parameters" element="tns:getCardLogCountResponse" />
  </wsdl:message>
  <wsdl:message name="getCardLogDataSoapIn">
    <wsdl:part name="parameters" element="tns:getCardLogData" />
  </wsdl:message>
  <wsdl:message name="getCardLogDataSoapOut">
    <wsdl:part name="parameters" element="tns:getCardLogDataResponse" />
  </wsdl:message>
  <wsdl:portType name="CardLogSoap">
    <wsdl:operation name="getCardLogCount">
      <wsdl:input message="tns:getCardLogCountSoapIn" />
      <wsdl:output message="tns:getCardLogCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCardLogData">
      <wsdl:input message="tns:getCardLogDataSoapIn" />
      <wsdl:output message="tns:getCardLogDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CardLogSoap" type="tns:CardLogSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCardLogCount">
      <soap:operation soapAction="http://tempuri.org/getCardLogCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardLogData">
      <soap:operation soapAction="http://tempuri.org/getCardLogData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CardLog">
    <wsdl:port name="CardLogSoap" binding="tns:CardLogSoap">
      <soap:address location="http://163.17.20.112/CardLog.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>