NXEIP/NXEIP/App_WebReferences/Wealthy_WebReference/PeopleSign.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Get_SignRecord_Count">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="peo_uid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SignRecord_CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_SignRecord_CountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SignRecord_Count1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="peo_idcard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SignRecord_Count1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_SignRecord_Count1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignConnTest">
        <s:complexType />
      </s:element>
      <s:element name="SignConnTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignConnTestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Get_SignRecord_CountSoapIn">
    <wsdl:part name="parameters" element="tns:Get_SignRecord_Count" />
  </wsdl:message>
  <wsdl:message name="Get_SignRecord_CountSoapOut">
    <wsdl:part name="parameters" element="tns:Get_SignRecord_CountResponse" />
  </wsdl:message>
  <wsdl:message name="Get_SignRecord_Count1SoapIn">
    <wsdl:part name="parameters" element="tns:Get_SignRecord_Count1" />
  </wsdl:message>
  <wsdl:message name="Get_SignRecord_Count1SoapOut">
    <wsdl:part name="parameters" element="tns:Get_SignRecord_Count1Response" />
  </wsdl:message>
  <wsdl:message name="LoginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:LoginCheck" />
  </wsdl:message>
  <wsdl:message name="LoginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:LoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="SignConnTestSoapIn">
    <wsdl:part name="parameters" element="tns:SignConnTest" />
  </wsdl:message>
  <wsdl:message name="SignConnTestSoapOut">
    <wsdl:part name="parameters" element="tns:SignConnTestResponse" />
  </wsdl:message>
  <wsdl:portType name="PeopleSignSoap">
    <wsdl:operation name="Get_SignRecord_Count">
      <wsdl:input message="tns:Get_SignRecord_CountSoapIn" />
      <wsdl:output message="tns:Get_SignRecord_CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SignRecord_Count1">
      <wsdl:input message="tns:Get_SignRecord_Count1SoapIn" />
      <wsdl:output message="tns:Get_SignRecord_Count1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginCheck">
      <wsdl:input message="tns:LoginCheckSoapIn" />
      <wsdl:output message="tns:LoginCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignConnTest">
      <wsdl:input message="tns:SignConnTestSoapIn" />
      <wsdl:output message="tns:SignConnTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PeopleSignSoap" type="tns:PeopleSignSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_SignRecord_Count">
      <soap:operation soapAction="http://tempuri.org/Get_SignRecord_Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SignRecord_Count1">
      <soap:operation soapAction="http://tempuri.org/Get_SignRecord_Count1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCheck">
      <soap:operation soapAction="http://tempuri.org/LoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignConnTest">
      <soap:operation soapAction="http://tempuri.org/SignConnTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeopleSign">
    <wsdl:port name="PeopleSignSoap" binding="tns:PeopleSignSoap">
      <soap:address location="http://163.17.20.112/PeopleSign.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>